{% extends "base.html" %}
{% from "macro/_breadcrumbs.html" import breadcrumbs %}
{% from "macro/_tables.html" import th %}
{% from "macro/_widgets.html" import draw_widget, draw_widgets %}

{% block title %}
  {{- super() -}}
  {%- if file and file.urlpath %} - {{ file.urlpath }}{% endif -%}
{% endblock %}

{% block styles %}
  {{ super() }}
  {{ draw_widgets(file, 'styles') }}
{% endblock %}

{% block head %}
  {{ super() }}
  {{ draw_widgets(file, 'head') }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ draw_widgets(file, 'scripts') }}
{% endblock %}

{% block header %}
<h1>{{ breadcrumbs(file) }}</h1>
{% endblock %}

{% block messages %}
{% with pending = get_flashed_messages(with_categories=true) %}
  {% if pending %}
    <ul class=flashes>
    {% for category, message in pending %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
{% block content_header %}
<header>{{ draw_widgets(file, 'header') }}</header>
{% endblock %}

{% block content_table %}
{% if file.is_empty %}
    <p>No files in directory</p>
{% else %}
    <table class="browser">
        <thead>
            <tr>
              {{ th(file, 'Name', sort_property, 'text', 'text', 3) }}
              {{ th(file, 'Mimetype', sort_property, 'type') }}
              {{ th(file, 'Modified', sort_property, 'modified', 'numeric') }}
              {{ th(file, 'Size', sort_property, 'size', 'numeric') }}
            </tr>
        </thead>
        <tbody>
            {% for f in file.listdir(sortkey=sort_fnc, reverse=sort_reverse) %}
                <tr{% if f.name %} name="row-{{ f.name }}"{% endif %}>
                    {% if f.link %}
                      <td class="icon {{ f.link.icon }}"></td>
                      <td>{{ draw_widget(f, f.link) }}</td>
                    {% else %}
                      <td></td>
                      <td></td>
                    {% endif %}
                    <td>{{ draw_widgets(f, 'entry-actions') }}</td>
                    <td>{{ f.type or '' }}</td>
                    <td>{{ f.modified or '' }}</td>
                    <td>{{ f.size or '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}

{% block content_footer %}
<footer>{{ draw_widgets(file, 'footer') }}</footer>
{% endblock %}
{% endblock %}
