.git
.c9
.idea
.coverage
.vscode


htmlcov
dist
build
env*
wenv*
package-lock.json
logs
logs/*
root
root/*

**.build
**.egg-info
**.egg
**.eggs
**.egg-info
**.log
**.pyc

**/node_modules
**/*.py[co]
**/__pycache__
**/.mypy_cache
